name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches: 
      - master

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      # Uncomment and configure this step as needed
      # - name: Scan for common Rails security vulnerabilities using static analysis
      #   run: bin/brakeman --no-pager
      
      - name: Echo Ok
        run: echo ok
  
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      # Uncomment and configure this step as needed
      # - name: Lint code for consistent style
      #   run: bin/rubocop -f github
      
      - name: Echo Ok
        run: echo ok

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y google-chrome-stable curl libjemalloc2 libvips sqlite3

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Run tests
        env:
          RAILS_ENV: test
          # Uncomment and set the appropriate Redis URL if needed
          # REDIS_URL: redis://localhost:6379/0
        run: echo ok # Replace with actual test command 

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore
  deploy:
    runs-on: ubuntu-latest
    needs: build # Зависящий от шага build, чтобы он выполнялся только после успешного завершения сборки
    if: ${{ github.event_name == 'workflow_dispatch' }} # В этом шаге мы проверяем, что это ручной запуск

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public # Укажите путь к собранной статике