name: CI

on:
  workflow_dispatch:

jobs:
  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Run tests
        env:
          RAILS_ENV: test
        run: |
          # Замените на команду для запуска тестов
          echo "Running tests..." 
          # Например: bundle exec rspec

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore

  build-docker:
    runs-on: ubuntu-latest
    needs: test 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t butt:latest .
      - name: Add dependent
        run: |
          apt-get update -qq && apt-get install -y nodejs npm && npm install
      - name: Run static site generation
        run: |
          docker run -e SECRET_KEY_BASE=dummy --rm butt:latest ./bin/rails assets:precompile

      - name: List compiled assets
        run: |
          docker run --rm butt:latest ls -la /rails/public/assets

  deploy:
    runs-on: ubuntu-latest
    needs: build-docker 
    if: ${{ github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public # Укажите путь к собранной статике
